.ebp-custom-stats-1__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ebp-custom-stats-1__item__image {
  justify-content: center;
  display: grid;
  min-height: 157px;
}

.ebp-custom-stats-1__item__text {
  text-wrap: balance;
}

.ebp-custom-stats-1__item__image img {
  margin-block-end: 2rem;
}

.ebp-custom-stats-1__item__text h3 {
  margin-block-end: 1rem;
}
