.grid-masonry {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .grid-masonry {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(2) {
    grid-area: 1 / 4 / 2 / 7;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(5) {
    grid-area: 2 / 5 / 3 / 7;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(6) {
    grid-area: 3 / 1 / 4 / 4;
  }
  .grid-masonry > .ebp-custom-team-1__item:nth-child(7) {
    grid-area: 3 / 4 / 4 / 7;
  }
}

.grid-masonry > .ebp-custom-team-1__item > div {
  position: relative;
  overflow: hidden;
}

.animated-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1.5rem;
  font-size: var(--font-secondary);
  left: -100%;
  transition: left 0.3s ease-in-out;
}

.animated-text h3 {
  margin-block-end: 0.3rem !important;
  color: #e2a23d;
}

.grid-masonry > .ebp-custom-team-1__item:hover .animated-text {
  left: 0;
  transition: left 0.3s ease-in-out;
}
