.icon {
  display: flex;
  justify-content: center;
}

.ebp-custom-text-columns-1__items > div {
  padding: 1.5rem;
  border: 1px solid;
  justify-content: space-between;
  min-height: 440px;
}

@media (min-width: 1024px) {
  .page-id-627 .ebp-custom-text-columns-1__items > div {
    padding-inline-end: 6rem;
  }
}

.ebp-custom-text-columns-1__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* 
.ebp-custom-text-columns-1__item__intro h3 {
  min-height: 123px;
} */
.ebp-custom-text-columns-1__item .btn {
  margin-block-start: 2rem;
}

.ebp-custom-text-columns-1__item h4 {
  margin-block-end: 0.5rem !important;
}

.ebp-custom-text-columns-1__item ul {
  margin-block-start: 0rem !important;
}

.ebp-custom-text-columns-1__item p:last-of-type {
  margin-bottom: 0 !important;
}

.ebp-custom-text-columns-1__item li {
  margin-block-end: 2rem;
}

.ebp-custom-text-columns-1__items {
  margin-block-start: 2.5rem;
}

.ebp-custom-text-columns-1__item > .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ebp-custom-text-columns-1__item_key-challenges {
  margin-block-start: 1rem;
  min-height: 295px;
}

/* .ebp-custom-text-columns-1__item_outcome {
  min-height: 109px;
} */

.ebp-custom-text-columns-1__item_key-challenges ul {
  padding-inline-start: 2rem !important;
}

.ebp-custom-text-columns-1__item_key-challenges li {
  margin-block-end: 2.5rem !important;
}

.ebp-custom-text-columns-1__item_key-challenges h4 {
  margin-block-end: 1rem !important;
}

.ebp-custom-text-columns-1__item__intro {
  min-height: 111px;
}

.ebp-custom-text-columns-1 .icon svg {
  height: 36px;
  width: 36px;
}

.ebp-custom-text-columns-1__item__intro ul {
  margin-block-start: 1.5rem !important;
}

.ebp-custom-text-columns-1__item__intro ul li:before,
.ebp-custom-text-columns-1__item_key-challenges li:before {
  background-image: url(/wp-content/uploads/2025/11/llm-right-arrow-yellow.svg) !important;
}
