.btn {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 0.9rem 3.4rem;
  color: inherit;
  font-size: 1.125rem;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin-top: 3rem;
  line-height: 1;
}

button {
  position: relative;
  z-index: 9;
  transition: border-color 0.3s ease;
}

button span {
  content: '';
  position: absolute;
  background: #f4f6f5;
  --offset: 1.1rem;
  --thickness: 0.8rem;
  z-index: -1;
  transition: all 0.3s ease;
}

button span:nth-of-type(1) {
  height: 0;
  width: var(--thickness);
  left: 0;
  top: 0;
  transition-delay: 0.5s;
}

button span:nth-of-type(2) {
  height: var(--thickness);
  width: 0;
  left: 0;
  bottom: 0;
  transition-delay: 0.2s;
  /* background-color: red; */
}

button span:nth-of-type(3) {
  height: 0;
  width: var(--thickness);
  left: var(--offset);
  top: 0;
  transition-delay: 0.3s;
}

button span:nth-of-type(4) {
  height: var(--thickness);
  width: 0;
  left: var(--offset);
  bottom: var(--offset);
  /* background-color: red; */
}

.wpcf7-response-output {
  border: none !important;
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
}

input[type='checkbox'] {
  width: auto;
}

.wpcf7-list-item {
  margin-inline-start: 0;
  line-height: 1;
}

.wpcf7-acceptance .wpcf7-list-item-label {
  font-size: 0.9rem;
}

.wpcf7-list-item a {
  text-decoration: underline !important;
}

button:hover {
  /* border-color: transparent; */
  transition: border-color 0.3s ease;
  /* border-color: #e2a23d; */
  color: #002e36;
}

button:hover span:nth-of-type(1) {
  height: 100%;
  transition: height 0.3s ease;
}

button:hover span:nth-of-type(2) {
  width: 100%;
  transition: width 0.3s ease;
  transition-delay: 0.15s;
}

button:hover span:nth-of-type(3) {
  height: 49%;
  transition: height 0.3s ease;
}

button:hover span:nth-of-type(4) {
  width: calc(100% - var(--offset));
  transition: width 0.3s ease;
  transition-delay: 0.15s;
}

@media (max-width: 767px) {
  .btn {
    font-size: 1rem;
  }
}
