:root {
  --font-primary: 'Lora', serif;
  --font-secondary: 'Museo Sans', sans-serif;
  --margin-block: 3rem;
  --padding-block: 3rem;
  /* medium */
  --margin-block-medium: 5rem;
  --padding-block-medium: 5rem;
  /* large */
  --margin-block-large: 6rem;
  --padding-block-large: 6rem;
  --col-gap: 1rem;
  --col-gap-medium: 3rem;
  --col-gap-large: 6rem;
  --fs-large: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
  --fs-medium: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
  --fs-small: clamp(1.25rem, 1.0179rem + 0.5357vw, 1.5rem);
}

@media (max-width: 767px) {
  :root {
    --margin-block: 1.5rem;
    --padding-block: 1.5rem;
    --margin-block-large: 3rem;
    --padding-block-large: 3rem;
    --col-gap-large: 3rem;
    --margin-block-medium: 2.5rem;
    --padding-block-medium: 2.5rem;
  }
}

html,
body {
  overflow-x: clip;
}

body {
  font-size: 1.125rem;
  line-height: 1.5 !important;
}

a {
  color: inherit;
}

.site-main p a,
.site-main li a {
  text-decoration: underline !important;
}

p {
  margin-block-end: 2rem !important;
}

p strong {
  font-weight: 500;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: content-box !important;
}

.grid {
  display: grid;
}

@media (min-width: 1024px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .equal-grid {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  .grid-24 {
    grid-template-columns: repeat(24, 1fr);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #002e36;
}

.e-con {
  padding-inline: 0;
}

.e-con.e-flex > .e-con-inner {
  margin: 0;
  max-width: none;
  padding: 0;
}

.e-con.e-flex {
  padding: 0;
}

.grid {
  display: grid;
}

/* margin block */
.margin-block {
  margin-block: var(--margin-block);
}

.margin-block-medium {
  margin-block: var(--margin-block-medium);
}

.margin-block-large {
  margin-block: var(--margin-block-large);
}

/* margin block end */

.margin-block-end {
  margin-block-end: var(--margin-block);
}

.margin-block-end-medium {
  margin-block-end: var(--margin-block-medium);
}

.margin-block-end-large {
  margin-block-end: var(--margin-block-large);
}

/* margin block start */

.margin-block-start {
  margin-block-start: var(--margin-block);
}

.margin-block-start-medium {
  margin-block-start: var(--margin-block-medium);
}

.margin-block-start-large {
  margin-block-start: var(--margin-block-large);
}

/* padding block */

.padding-block {
  padding-block: var(--padding-block);
}

.padding-block-medium {
  padding-block: var(--padding-block-medium);
}

.padding-block-large {
  padding-block: var(--padding-block-large);
}

/* padding block end */
.padding-block-end {
  padding-block-end: var(--padding-block);
}

.padding-block-end-medium {
  padding-block-end: var(--padding-block-medium);
}

.padding-block-end-large {
  padding-block-end: var(--padding-block-large);
}

/* padding block start */

.padding-block-start {
  padding-block-start: var(--padding-block);
}

.padding-block-start-medium {
  padding-block-start: var(--padding-block-medium);
}

.padding-block-start-large {
  padding-block-start: var(--padding-block-large);
}

/* gap */
.gap-large {
  gap: var(--col-gap-large);
}

.gap-medium {
  gap: var(--col-gap-medium);
}

.gap {
  gap: var(--col-gap);
}

.border-top {
  border-top: 1px solid;
}

/* p last child of wrapper */
/* p:last-of-type {
  margin-block-end: 3rem;
} */

h1 {
  font-size: var(--fs-large);
  margin-block-end: 3rem;
}

h2 {
  font-size: var(--fs-medium);
  line-height: 1 !important;
}

h3 {
  font-size: var(--fs-small);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.fs-48 h1,
.fs-48 h2,
.fs-48 h3 {
  font-size: var(--fs-large);
  margin-block-end: var(--margin-block);
}

.fs-32 h1,
.fs-32 h2,
.fs-32 h3 {
  font-size: var(--fs-medium);
  margin-bottom: 2rem;
}

.fs-24 h1,
.fs-24 h2,
.fs-24 h3 {
  font-size: var(--fs-small);
}

blockquote {
  font-size: var(--fs-small);
  font-style: italic;
  font-weight: 300;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-14 {
  font-size: 0.875;
}

h2 {
  margin-block-start: 0;
  /* margin-block-end: 3rem !important; */
}

/* h3 {
  margin-block-end: 1.25rem;
} */

.site-main .wrapper ul {
  list-style-position: outside;
  padding-inline-start: 0;
  list-style-type: none;
}

.site-main .wrapper ul li {
  position: relative;
  margin-block-end: 0.5rem;
  padding-inline-start: 2rem;
}

.site-main .wrapper ul li:last-of-type {
  margin-block-end: 2rem;
}

.site-main .wrapper ul li:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('/wp-content/uploads/2025/11/triangle-icon-llm.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-inline-end: 0.5rem;
  margin-block-end: -1px;
  position: absolute;
  left: 0;
  top: 5px;
}

.page-id-45 .site-main,
.page-id-39 .site-main,
.page-id-47 .site-main,
.single-blog .site-main {
  background-color: #d7d3cb !important;
}

.page-id-417 .site-main {
  background-color: #09788b !important;
}
