.ebp-custom-footer-1 .footer-content {
  display: grid;
  gap: 2rem;
  grid-row-gap: 4rem;
}

@media (min-width: 768px) {
  .ebp-custom-footer-1 .footer-content {
    grid-template-columns: repeat(4, 1fr);
  }
  .ebp-custom-footer-1 .footer-content > div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }

  .ebp-custom-footer-1 .footer-content > div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .ebp-custom-footer-1 .footer-content > div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .ebp-custom-footer-1 .footer-content > div:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
  }

  /* .ebp-custom-footer-1 .footer-content > div:nth-child(5) {
    grid-area: 2 / 2 / 3 / 5;
    display: flex;
    gap: 3rem;
  } */

  .ebp-custom-footer-1 .footer-content > div:nth-child(5) {
    display: grid;
    grid-area: 2 / 2 / 3 / 5;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .ebp-custom-footer-1 .footer-content > div:nth-child(5) > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    padding-inline-end: 3rem;
  }

  .ebp-custom-footer-1 .footer-content > div:nth-child(5) > div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
  }
}

.ebp-custom-footer-1 {
  color: #f4f6f5;
}

.ebp-custom-footer-1 > .wrapper:first-of-type {
  padding-block-start: 4rem;
  padding-block-end: 6rem;
}

.ebp-custom-footer-1 .footer-content > div:not(:first-child) {
  padding-inline-start: 1rem;
  border-left: 1px solid #e2a23d;
}

.footer-content__newsletter-text {
  margin-block-end: 3rem;
}

.footer-content__logo-text p {
  font-family: var(--font-primary);
  font-size: 1.25rem;
}

.footer-icon {
  display: flex;
  justify-content: center;
  padding-block-end: 4rem;
}

.ebp-custom-footer-1 .wpcf7-form {
  color: #e2a23d;
}

.ebp-custom-footer-1 .wpcf7-form ::placeholder {
  color: #fff;
}

.footer-content__logo img {
  margin-block-end: 1rem;
}

.footer-content h3 {
  margin-block-end: 1.5rem !important;
}

.footer-content__address p:last-of-type {
  margin-block-end: 0 !important;
}

.footer-copyright .footer-bottom {
  border-top: 1px solid #e2a23d;
}

.footer-bottom__text {
  padding-block: 3rem !important;
  margin: 0 !important;
  text-align: center;
  font-size: 0.875rem;
}

@media (max-width: 1023px) {
  .ebp-custom-footer-1 .footer-content {
    grid-row-gap: 2rem;
  }
}
